@import "../../../styles/colors";

.realizationDetail {
  padding: 2rem 1rem;
  color: #333;
  background: linear-gradient(195deg, $new-black, $new-black, $white-smooth);

  &__header {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    color: $white-smooth;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
      font-size: 3.5rem;
    }
  }

  &__box {
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1.5rem;
  }

  //   &__images {
  //     display: grid;
  //     grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  //     gap: 1.5rem;
  //     justify-items: center;
  //     align-items: start;
  //     @media (min-width: 768px) {
  //       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  //       gap: 2rem;
  //     }

  //     @media (min-width: 1024px) {
  //       grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  //     }
  //   }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    @media (min-width: 768px) {
      gap: 2rem;
    }
  }

  &__imageWrapper {
    width: 100%;
    max-width: 400px;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

.resetButton {
  position: relative;
  color: $new-black;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border: 0.2rem solid $new-black;
  border-radius: 0.4rem;
  display: inline-block;
  margin-bottom: 1rem;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  margin: 1rem;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: "";
    transition: all 0.5s;
    z-index: -1;
  }

  &::before {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &:hover {
    border: 1px solid transparent;
    color: $new-black;
  }

  &:hover::after {
    bottom: 0.3rem;
    left: 0.4rem;
    border-bottom: 4px solid $new-black;
    border-right: 4px solid $new-black;
  }

  &:hover::before {
    top: 0.3rem;
    right: 0.4rem;
    border-top: 4px solid $new-black;
    border-left: 4px solid $new-black;
  }
}
