@import "../../styles/colors";

.slideBox {
  position: relative;
  margin: 2rem;
  background-color: $dark-smooth-hover;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sliderContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
  // height: 300px;
  // aspect-ratio: 4/3;
}

// .imageBefore,
// .imageAfter {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   object-fit: cover; // ENSURES IMAGES COVER THE AREA
//   top: 0;
//   left: 0;
// }
.imageBefore {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  object-fit: cover;
}

.titleSlide {
  color: $white-smooth;
}

.sliderInput {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: none;
  cursor: pointer;
  opacity: 0;
}

.line::after {
  position: absolute;
  content: "";
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-size: cover;
  background-color: $white-smooth;
}

@media (min-width: 992px) {
  .slideBox {
    display: grid;
    flex-direction: row;
  }

  .sliderContainer {
    flex-direction: row;
  }
  .imageBefore {
    flex-direction: row;
  }
}

.sliderInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: $white-smooth;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.sliderInput::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 50%;
  background: transparent;
  z-index: 1;
}

.sliderInput::-moz-range-thumb {
  border: 1px solid $dark-smooth;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: $white-smooth;
  cursor: pointer;
}

.sliderInput::-ms-thumb {
  border: 1px solid $dark-smooth;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: $white-smooth;
  cursor: pointer;
}
