@import "../../styles/colors";

.heroContainer {
  position: relative;
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95dvh;
  max-width: 1100px;
  margin: 0 auto;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    pointer-events: none;
    z-index: 1;
  }

  .imageWrapper {
    position: static;
    inset: 0;
    width: 100%;
    height: 100%;
    // z-index: -2;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        135deg,
        $gold-main 0%,
        $new-black 45%,
        $grey-smooth 100%
      );
      opacity: 0.7;
      mix-blend-mode: overlay;
      pointer-events: none;
      z-index: 1;
    }
  }

  &__title {
    color: $gold-main;
    font-size: 3rem;
    text-shadow: 0.5rem 0.5rem 0.5rem $dark-smooth;

    &Gold {
      color: $gold-main;
    }
    &White {
      color: $white-smooth;
    }
  }

  &__description,
  p {
    font-size: 2rem;
    text-shadow: 0.5rem 0.5rem 0.5rem $dark-smooth;
    color: $white-smooth;
  }
}

.whiteBlockWrapper {
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  width: 100%;
  height: 9rem;
  background: $new-black;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  z-index: 3;
}

.fade {
  pointer-events: none;
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  height: 8rem;
  background-image: linear-gradient(to top, #f1f5f9, transparent);
  z-index: 2;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 2rem;
  transition: filter 1s ease-out;

  p {
    color: $white-smooth;
  }

  h1,
  p {
    text-shadow: 1px 1px 3px rgba($dark-smooth, 0.9);
  }

  .button {
    align-self: center;
    padding: 0.8rem 1.6rem;
    box-shadow: 0 0.4rem 0.8rem rgba($dark-smooth, 0.6);
    z-index: 4;
  }
}

.button {
  display: inline-block;
  margin: 0 auto;
  padding: 0.8rem 1.4rem;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  color: $dark-smooth;
  background-color: $white-smooth;
  box-shadow: 0.2rem 0.4rem 0.6rem rgba(56, 201, 34, 0.2);
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  z-index: 4;

  &:hover {
    color: $gold-main;
    box-shadow: 0.5rem 0.8rem 1rem rgba($blue-main, 0.4),
      0 0 1rem rgba($gold-main, 0.5);
    transform: scale(1.05);
  }
}

.customHeroTitleRealizations {
  text-shadow: 2px 2px 4px rgba($dark-smooth, 0.9);
}

@media (min-width: 768px) {
  .hero {
    h1 {
      font-size: 3.4rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .button {
    font-size: 2rem;
  }
}

@media (max-width: 991px) {
  .hero {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 40%,
        transparent 80%
      );
      pointer-events: none;
      z-index: 1;
    }
    &::after {
      background: none;
    }
  }

  .textOverlay {
    gap: 1.5rem;

    &::before {
      content: "";
      position: absolute;
      top: -20%;
      left: -20%;
      width: 140%;
      height: 140%;
      background: radial-gradient(
          circle at center,
          rgba($white-smooth, 0.1) 0%,
          transparent 50%
        ),
        radial-gradient(
          circle at center,
          rgba($new-black, 0.9) 0%,
          rgba($new-black, 0.7) 40%,
          transparent 80%
        );
      filter: blur(35px);
      pointer-events: none;
      z-index: -1;
    }
  }
}

@media (min-width: 992px) {
  .hero {
    min-height: 98dvh;
    &::after {
      display: none;
    }

    h1 {
      font-size: 6rem;
    }
    p {
      font-size: 3.2rem;
    }

    &__title {
      font-size: 4.6rem;
      text-shadow: 0.3rem 0.3rem 0.6rem rgba($dark-smooth, 0.9);
    }

    &__description {
      text-shadow: 0.3rem 0.3rem 0.6rem rgba($dark-smooth, 0.9);
      margin-left: 40rem;
    }

    .imageWrapper {
      position: fixed;
      inset: 0;
      z-index: -2;

      &::before {
        background: linear-gradient(
          135deg,
          $gold-main 0%,
          $new-black 45%,
          $grey-smooth 100%
        );
      }
    }
  }

  .whiteBlockWrapper {
    height: 20rem;
  }

  .textOverlay {
    position: relative;
    padding: 2rem 3rem;
    background: none;
    box-shadow: none;
    backdrop-filter: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120%;
      height: 100%;
      background: radial-gradient(
        circle at center,
        rgba($new-black, 0.6) 0%,
        rgba($new-black, 0.3) 40%,
        transparent 80%
      );
      border-radius: 2rem;
      pointer-events: none;
      z-index: -1;
    }

    h1,
    p {
      text-shadow: 2px 2px 4px rgba($dark-smooth, 0.8),
        -2px -2px 4px rgba($dark-smooth, 0.8);
    }

    .button {
      box-shadow: 0 0.5rem 1rem rgba($dark-smooth, 0.5);
    }
  }

  .button {
    font-size: 2.7rem;
  }
}
