@import "../../styles/colors";

.pricing {
  position: relative;
  padding: 4rem 1rem;
  padding-top: 27rem;

  background-image: linear-gradient(
      135deg,
      rgba($new-black, 0.8) 0%,
      rgba($gold-main, 0.3) 70%
    ),
    url("../../assets/image/blogFotoMain2.webp");

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.noTopPadding {
  padding-top: 2rem;
}

.pricingSection {
  max-width: 1100px;
  margin: 0 auto 3rem;

  &__title {
    font-size: 2.9rem;
    color: $white-smooth;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.pricingGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 1rem;
  justify-content: center;
  align-items: stretch;

  /* 3 kolumny na desktopie */
  & > div {
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
  }

  /* przesunięcie drugiego kafla w dół */
  @media (min-width: 992px) {
    & > div:nth-child(2) {
      /* możesz dostosować wartość */
      margin-top: 10rem;
    }
  }

  /* tablet: 2 kolumny */
  @media (max-width: 992px) {
    & > div {
      flex: 1 1 calc(50% - 2rem);
      max-width: calc(50% - 2rem);
    }
  }

  /* mobile: 1 kolumna */
  @media (max-width: 768px) {
    & > div {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}

.priceItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem 0;
  border-bottom: 2px solid $dark-smooth;
  border-radius: 1rem;
  font-weight: bold;
}

.priceCard {
  background: rgba(255, 255, 255, 0.85);
  padding: 1.8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    & > * {
      margin-right: 0.8rem;
    }
  }

  &__icon {
    color: $dark-smooth;
    font-size: 1.6rem;
  }

  &__range {
    font-weight: 600;
    color: $dark-smooth;
  }

  &__line {
    flex-grow: 1;
    height: 2px;
    background: $gold-main;
  }

  &__title {
    font-size: 1.8rem;
    color: $new-black;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
  }

  &__item {
    color: $dark-smooth;
    line-height: 1.9;
    margin-bottom: 1rem;
    border-bottom: 2px solid $gold-main;
    border-radius: 0.7rem;
    // font-weight: bold;
  }

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
}
