@import "../styles/colors";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  background-color: $white-smooth;
}

body {
  font-size: 1.6rem;
  font-family: "ChakraPetch", sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
}

@font-face {
  font-family: "ChakraPetch";
  src: url("/fonts/ChakraPetch-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ChakraPetch";
  src: url("/fonts/ChakraPetch-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ChakraPetch";
  src: url("/fonts/ChakraPetch-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.contact-info {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid rgba($white-smooth, 0.2);
  color: rgba($white-smooth, 0.8);
}

.contact-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 1rem 2rem;
  margin: 1rem 0;
}

.contact-item {
  display: flex;
  align-items: center;
  color: rgba($white-smooth, 0.9);
  font-weight: bold;
  margin-bottom: 1rem;

  .icon {
    display: inline-block;
    margin-right: 0.3rem;
    color: $gold-main;
  }

  a {
    color: $gold-main;
    text-shadow: 0.2rem 0.2rem 0.4rem $new-black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.cta-button {
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: 0.9rem 1.9rem;
  background-color: $gold-main;
  color: $white-smooth;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  &:hover {
    background-color: darken($new-black, 10%);
    color: $gold-main;
  }
}

.icon {
  margin-top: 1rem;
}

.icon-down {
  margin-right: 0.7rem;
  width: 3.6rem;
  height: 3.6rem;
}

.icon-down-p {
  margin-right: 0.7rem;
  width: 2.3rem;
  height: 2.3rem;
}

@media (min-width: 992px) {
  .icon-down {
    margin-right: 0.7rem;
    width: 3rem;
    height: 3rem;
  }

  .icon-down-p {
    margin-right: 0.7rem;
    width: 3rem;
    height: 3rem;
  }
}

.ctaWrapper {
  text-align: center;
  margin-top: 2rem;

  @media (min-width: 992px) {
    text-align: right;
  }
}
