@import "../../styles/colors";

.footer {
  background-color: $new-black;
  color: $white-smooth;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba($dark-smooth, 0.9);

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;

    &Info {
      margin-top: 0.7em;
      margin-bottom: 1.5rem;
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    list-style: none;
  }
}

.policy {
  color: $white-smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0.3rem 0.4rem 0.8rem rgba(235, 232, 232, 0.1);
  padding: 2rem;
  text-align: center;

  &__link {
    text-decoration: none;
    color: $red-main;
  }
  span {
    font-weight: bold;
  }
}
