@import "../../styles/colors";

.footer {
  position: relative;
  background-color: $new-black;
  color: $white-smooth;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba($dark-smooth, 0.9);
  font-size: 1.9rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 2rem;
      padding: 0.1rem 2rem;
    }
    .poweredByLink {
      color: $white-smooth;
      font-weight: bold;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        text-decoration: underline;
        color: lighten($white-smooth, 10%);
      }
    }
  }

  &__poweredByInfo {
    text-align: center;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.1rem;

    &Info {
      margin-top: 0.7em;
      margin-bottom: 1.5rem;
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    list-style: none;
  }
}

.policy {
  color: $white-smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0.3rem 0.4rem 0.8rem rgba(235, 232, 232, 0.1);
  padding: 2rem;
  text-align: center;

  &__link {
    text-decoration: none;
    color: $gold-main;
  }
  span {
    font-weight: bold;
  }
}
