@import "../../styles/colors";

.contactBubble {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1.7rem;
  background-color: rgba($gold-main, 0.9);
  color: white;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
  z-index: 10000;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  .bubbleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
  }

  .text {
    font-size: 1.6rem;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-weight: bold;
    cursor: pointer;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &.expanded .bubbleContent {
    gap: 0.9rem;
  }

  &.expanded .text {
    max-width: 300px;
    opacity: 1;
  }

  @media (min-width: 768px) {
    padding: 1.2rem 1.8rem;

    .contactIcon {
      font-size: 2.2rem;
    }

    .text {
      font-size: 1.4rem;
      max-width: 300px;
      opacity: 1;
    }
  }

  @media (min-width: 992px) {
    padding: 1.5rem 2rem;
    bottom: 2rem;
    right: 10rem;

    .contactIcon {
      font-size: 2.5rem;
    }

    .text {
      max-width: 0;
      opacity: 0;
    }

    &:hover .text {
      max-width: 300px;
      opacity: 1;
    }
  }
}
