@import "../../styles/colors";

.placeholder {
  min-height: 200px;
  text-align: center;
  background-color: $new-black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholderTitle {
  margin: 0 0 5px;
  font-size: 1.2rem;
  color: $white-smooth;
}

.placeholderText {
  margin: 0;
  font-size: 1rem;
  color: $white-smooth;
}
